@font-face {
  font-family: "Ubuntu Bold";
  src: url("./assets/fonts/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: "Ubuntu Regular";
  src: url("./assets/fonts/Ubuntu-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

.weather-block__title,
.empty-data-block__text,
.header__text-lvl1,
.header__text-lvl2,
.weather-card__title {
  font-family: "Ubuntu Bold";
}

body {
  background: url("./assets/bg/top.png") right top no-repeat,
    url("./assets/bg/buttom.png") left bottom no-repeat;
  /* background-position: , left bottom;
  background-repeat: no-repeat, no-repeat;*/
  background-color: #373af5;
}

.container__d-flex {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  justify-content: center;
}

.weather-block {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(4, 5, 73, 0.25),
    14px 14px 20px rgba(5, 6, 114, 0.2);
  border-radius: 8px;
  padding-top: 50px;
  padding-left: 58px;
  padding-right: 58px;
  padding-bottom: 90px;
}

.weather-block__title {
  font-family: "Ubuntu Bold", serif;
  font-size: 32px;
  line-height: 32px;
  color: #2c2d76;
  margin-bottom: 32px;
}

.weather-block__title,
.select {
  font-size: 16px;
  line-height: 24px;
}

.select {
  font-family: "Ubuntu Regular", serif;

  color: #8083a4;
  padding: 12px 143px 12px 16px;
  background: rgba(128, 131, 164, 0.06);

  border: 2px solid rgba(128, 131, 164, 0.2);
  box-sizing: border-box;
  border-radius: 8px;
  appearance: none;
  margin-bottom: 64px;
}
